/* Absolute Center Spinner */
.loading {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
}

.grey_background {
    background-color: rgba(0,0,0,0.1);
}

.modal-header {
  background: lightblue;
}

.navbar {
    background-color: #ffffff;
}

#map_div {
    height: 400px;
}

.info {
    padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
    text-align: left;
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  background-color: #f8f8f8;    
}

body{
    /* margin-bottom: 40px; */
    margin-top: 0;
    position: relative;
}

#wrapper {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height 
    margin: 0 auto -60px;*/
    /* Pad bottom by footer height 
    padding: 0 0 60px;*/
    overflow-x: hidden;
}

#page-wrapper {
    min-height: 100%;
    height: auto;
    background-color: #f8f8f8;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 40px;
}

.mapcluster {  
  text-align: center;
  font-size: 12px;
  box-sizing: border-box;  
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #ffffff;
}

.welcome_dialog_disclaimer{
    overflow: scroll;
    overflow-x: hidden;
    height: 35px;
    font-size: 10px;
}

row{
    min-height: 100%;
    height: auto;
}

#countries_sectors_row{
    padding-bottom: 10px;
}

.d3-tip {
    line-height: 1;
    font-size: 11px;
    padding: 10px;
    background: #EFFBFF;
    color: #fff;
    border-radius: 3px;
    border-style: solid;
    border-color: #919191;
    border-width: 1px;
}


#data_loaded_eu_wide_list{
    margin-left: -50px;
    list-style: none;
}

#data_loaded_country_sector_list{
    margin-left: -50px;
    list-style: none;
}