/* Absolute Center Spinner */
.loading {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
}

.grey_background {
    background-color: rgba(0,0,0,0.1);
}

.modal-header {
  background: lightblue;
}

.navbar {
    background-color: #ffffff;
}

#map_div {
    height: 350px;
}

body {
    background-color: #f8f8f8;
}


#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #f8f8f8;
}

.mapcluster {  
  text-align: center;
  font-size: 12px;
  box-sizing: border-box;
  padding-top: 10px;
}

